<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>💡 AmBul</title>
  <link rel="stylesheet" href="/public/main.css">
  <script src="/public/main.js"></script>
</head>
<body><div class="bes"><h1 id="sure"></h1></div></body>
</html>