<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="💡">
<meta property="og:title" content="💡 Nereden Nereye">
    <meta name="description" content="Kaç Senedir Sikiliyorsun?">
    <meta property="og:description" content="Kaç Senedir Sikiliyorsun?">
    <meta name="twitter:card" content="https://cdn.discordapp.com/attachments/950167988127006821/1133787878485405826/Baslksz85_20230726172443.png">
    <meta name="twitter:site" content="nereden-nereye">
    <meta name="twitter:creator" content="Nereden Nereye">
    <meta property="og:site_name" content="Nereden Nereye">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/950167988127006821/1133787780825235597/images.png">
    <meta property="og:url" content="https://nereden-nereye.vercel.app">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>💡 AmBul</title>
  <link rel="stylesheet" href="/public/main.css">
  <script src="/public/main.js"></script>
</head>
<body><div class="bes"><h1 id="sure"></h1></div></body>
</html>
