<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="💡">
  <meta property="og:title" content="💡 Nereden Nereye">
  <meta name="description" content="Kaç Senedir Sikiliyorsun?">
  <meta property="og:description" content="Kaç Senedir Sikiliyorsun?">
  <meta name="twitter:card" content="https://cdn.discordapp.com/attachments/950167988127006821/1133787878485405826/Baslksz85_20230726172443.png">
  <meta name="twitter:site" content="nereden-nereye">
  <meta name="twitter:creator" content="Nereden Nereye">
  <meta property="og:site_name" content="Nereden Nereye">
  <meta property="og:image" content="https://cdn.discordapp.com/attachments/950167988127006821/1133787780825235597/images.png">
  <meta property="og:url" content="https://nereden-nereye.vercel.app">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>💡 AmBul</title>
  <link rel="stylesheet" href="/public/light.css">
  <link rel="stylesheet" href="/public/main.css">
  <script defer src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script defer src="/public/main.js"></script>
  <script defer src="/public/light.js"></script>
</head>
<body class="on">
  <div class="bes"><h1 id="sure"></h1></div>
  <div class="light">
    <div class="wire"></div>
    <div class="bulb2">
      <div class="bulb">
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="switch">
        <div id="veya" style="width: 20px; height: 40px; background: #94a3b8; z-index: -1; position: absolute; border-radius: 6px; cursor: pointer;"></div>
        <div class="btn"></div>
    </div>
</div>
<div class="allahuakbar"><img src="https://cdn.discordapp.com/attachments/1087030211813593190/1133806771421581312/single6.png"></div>
<audio id="btnaudio" src="/public/click.mp3" autostart="false"></audio>
</body>
</html>
