@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.bes {
  position: fixed;
  background: #181c29;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}